<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles.css">
</head>

<body style="padding: auto">
    <div class="container">

        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>

        <div class="row" content="Latest_Mars_News">

            <div class="col-md-12">
                <h3 class="heading">Latest Mars News</h3>
                <h5>{{ mars_dict.news_title }}</h5>
                <p>{{ mars_dict.news_paragraph }}</p>
            </div>

        </div>

        <br>

        <div class="row" content="Feature_Image_And_Mars_Facts">

            <div class="col-md-6">
                <h3 class="heading">Featured Mars Image</h3>
                <img src={{ mars_dict.featured_image_url }} alt="Featured_Image" width=100%>
            </div>

            <!-- <div class="col-md-1"></div> -->

            <div class="col-md-6">
                <h3 class="heading">Mars Facts</h3>
                {{ mars_dict.table_html|safe }}
            </div>

        </div>

        <br>

        <div class="row">

            <div class="col-md-12">
                <h3>Mars Hemispheres</h3>
                <hr>
            </div>
            
            {% for image in mars_dict.image_urls %}

                <div class="col-md-6 Mars_Hemispheres">

                    <image src={{ image.img_url }} width=100% class="Mars_Hemispheres_Image" style="border:3px;
                    border-style:solid">
                    <h4 style="text-align: center">{{ image.title }}</h4>
                </div>

            {% endfor %}
        
        </div>

    </div>

</body>

</html>

